<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wz.cashloan.core.mapper.GameBetMapper" >
  <resultMap id="BaseResultMap" type="com.wz.cashloan.core.model.GameBet" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="game_id" property="gameId" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="team" property="team" jdbcType="VARCHAR" />
    <result column="odds" property="odds" jdbcType="DECIMAL" />
    <result column="guess_over_time" property="guessOverTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, game_id, name, team, odds, guess_over_time, update_time, create_time
  </sql>
  <sql id="searchBy">
    <trim prefix="where" prefixOverrides="and|or">
      <if test="gameId != null and gameId != ''">
        game_id  = #{gameId,jdbcType=BIGINT}
      </if>
      <if test="name !=null and name != ''">
        and `name` = #{name,jdbcType=VARCHAR}
      </if>
      <if test="team !=null and team != ''">
        and team = #{team,jdbcType=VARCHAR}
      </if>

    </trim>
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from game_bet
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from game_bet
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.wz.cashloan.core.model.GameBet" >
    insert into game_bet (id, game_id, name, 
      team, odds, guess_over_time, 
      update_time, create_time)
    values (#{id,jdbcType=BIGINT}, #{gameId,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, 
      #{team,jdbcType=VARCHAR}, #{odds,jdbcType=DECIMAL}, #{guessOverTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.wz.cashloan.core.model.GameBet" >
    insert into game_bet
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="gameId != null" >
        game_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="team != null" >
        team,
      </if>
      <if test="odds != null" >
        odds,
      </if>
      <if test="guessOverTime != null" >
        guess_over_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="gameId != null" >
        #{gameId,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="team != null" >
        #{team,jdbcType=VARCHAR},
      </if>
      <if test="odds != null" >
        #{odds,jdbcType=DECIMAL},
      </if>
      <if test="guessOverTime != null" >
        #{guessOverTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wz.cashloan.core.model.GameBet" >
    update game_bet
    <set >
      <if test="gameId != null" >
        game_id = #{gameId,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="team != null" >
        team = #{team,jdbcType=VARCHAR},
      </if>
      <if test="odds != null" >
        odds = #{odds,jdbcType=DECIMAL},
      </if>
      <if test="guessOverTime != null" >
        guess_over_time = #{guessOverTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wz.cashloan.core.model.GameBet" >
    update game_bet
    set game_id = #{gameId,jdbcType=BIGINT},
      name = #{name,jdbcType=VARCHAR},
      team = #{team,jdbcType=VARCHAR},
      odds = #{odds,jdbcType=DECIMAL},
      guess_over_time = #{guessOverTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="findSelective" resultMap="BaseResultMap" parameterType="java.util.HashMap">
    select
    <include refid="Base_Column_List" />
    from game_bet
    <include refid="searchBy"/>
  </select>

  <select id="findShoppingCartGameBet" resultMap="BaseResultMap" parameterType="java.lang.Long">
  SELECT gb.* FROM game_bet gb LEFT JOIN `shopping_cart` sc on sc.game_bet_id = gb.id where sc.user_id = #{id,jdbcType=BIGINT} and gb.guess_over_time > now();
  </select>

  <select id="groupCountGameId" resultType="java.lang.Integer" parameterType="java.lang.String">
    SELECT
        count(1)
    FROM
	(
		SELECT
			count(*)
		FROM
			`game_bet`
		WHERE
			id IN IN
            <foreach collection="ids" item="id" index="index"
                     open="(" close=")" separator=",">
              #{id}
            </foreach>
		GROUP BY
			game_id
		HAVING
			count(*) > 1
	) t1
  </select>
</mapper>